.body{
	margin-top : 0;
	padding-top : 0;
	overflow : auto;
}

.category{
	float : left;
	margin-top : 0px;
	height :6vh;
	display : table;
	min-width : 30%;
	margin-top : -12px;
}

.category01{
	float: right;
	margin : 0;
	padding-top : 0;
	display : table;
	height: 6vh;
	width : 30%;
}

.category ul li {   
  list-style: none;           
  color: white;              
  float: left;
  margin-right : 20px;                    
  vertical-align: Text-top;     
  text-align: center;
  line-height : 30px;
}
#topMenu .menuLink {   
   text-decoration:none;              
}
             
button:after {
    display : block;
    content : ' ';
    border-bottom : solid 3px Coral;
    transform : scaleX(0);
    transition : transform 250ms ease-in-out;;
}
button:hover:after{
	transform : scaleX(1);
}
button:hover{
	color : Coral;
}
 button{
   vertical-align : middle;
   text-decoration : none;
   background : none;      
   border :3px;          
   color: black;                            
   display: inline-block;
   width : 100px;
   height : 40px;                                                                           
   font-weight: bold;                         
   font-family: "Trebuchet MS", Dotum, Arial;
   font-size : 17px;
   margin-right :50px;
}
.search-box{
	border : 4px solid Coral;
	float : right;
	display : table-cell;
	border-radius : 40px;
	background-color : white;
	height : 40vh;
	width : 300px;
	vertical-align : middle;
    padding : 5px;
}
.search-btn {
  color: #EDEDED;
  width: 45vh;
  height: 45vh;
  border-radius: 50%;
  background: #949BA0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-txt {
  width : 250px;
  float: left;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: black;
  font-size: 15px;
  line-height: 25px;
}
.search-box:hover > form.search-txt{
	width : 250px;
}
.search-box:hover > form.search-txt{
	background : LightPink;
}




 