body{
  background-color : white;
  margin : 0;
}
.top{
   margin-top : 20px;
   position : absolute;
   min-width :30vw;
   height : 9vh;
   display : table;
   text-align : left;
}
.mark{
  display : table-cell;
  vertical-align : middle;
  text-align : left;
}    
.mark img {
  margin-left : 50px;
  vertical-align : middle;
  max-width : 50px; 
  height: auto;
  object-fit : cover;
}
#topMenu img{
	width : 25px;
	height : auto;
	vertical-align : middle;
}

span{
	margin : auto;
	padding-top : 10px;
	font-size : 28px;
	color : black;
	white-space : nowrap;
}

#topMenu{
  overflow : hidden;
  float : right;
  min-width : 10%;
  height : 50px;
  vertical-align : top;
  text-align : right;
}
 
#topMenu ul li {
  list-style: none;           
  color: white;              
  display :inline;
  padding-left : 10px;                    
}

#topMenu .menuLink {   
   text-decoration:none;              
}

button:hover {

    color: Coral;                
}

 button{
   text-decoration : none;
   background : none;      
   border :2px;          
   color: black;                            
   display: inline-block;
   width : 100px;
   height : 40px;                                                                           
   font-weight: bold;                         
   font-family: "Trebuchet MS", Dotum, Arial;
   font-size : 15px;
   padding-bottom : 35px;
   white-space : nowrap;
}

.afterLogin{
	width : 50px;
	margin-right : 70px;
}
.afterLogin > img{
	padding-right : 5px;
}

#topMenu li:after{
    content:'|';
    font-size: 15px;
    color:black;
    /*살짝 내려가 있기 때문에 위로 올려주기 위해 transform 사용하기*/
    display: inline-block;
    transform: translateY(-1px);
}
#topMenu li:last-child:after{
    display: none;
}
         